/Basic/build/
/Basic/dist/
/Barisir/FirstTest/nbproject/private/
/Barisir/FirstJsp/nbproject/private/
/Barisir/FirstsJsp/nbproject/private/
/SumusingServlet/nbproject/private/
/SumusingServlet/build/
/Sum2/nbproject/private/
/Sum/nbproject/private/
/MyServlet/nbproject/private/
/MyServlet/build/
/MyJsp/nbproject/private/
/MyJsp/build/
/ToDojsp/nbproject/private/
/ToDojsp/build/
/JstlDamo/nbproject/private/
/JstlDamo/build/
/LoginUsingJSPServlet/nbproject/private/
/LoginUsingJSPServlet/build/
/Inheritance/nbproject/private/
/PrimeNumber/nbproject/private/
/PrimeNumber/build/
/MaxMin/nbproject/private/
/MaxMin/build/
/PrimeNumber/dist/
/jspdemo/nbproject/private/
/jspdemo/build/