/Basic/build/
/Basic/dist/
/DemoServlet/nbproject/private/
/DemoServlet/build/
/DemoServlet/dist/
/ServletDemo2/nbproject/private/
/ServletDemo2/build/
/GetStart1/nbproject/private/
/GetStart1/build/
/Patical/nbproject/private/
/Patical/build/